<div class="modal fade" id="{{idModal}}" tabindex="-1" role="dialog" data-backdrop="false"
	aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div [class]="messageClass()" role="document">
		<div class="modal-content">
			<div class="modal-body">
				<div class="card">
					<div class="card-header">
						<i class="material-icons icon-title">assignment</i>
					</div>
					<div class="card-title">
						<h2>{{editing ? "Editar" : "Crear"}} {{titulo}}</h2>
					</div>
					<div class="card-content">
						<!-- <form novalidate #form="ngForm" > -->
						<ng-content select="[card-body]"></ng-content>
						<!-- </form> -->
					</div>
					<div class="card-footer">
						<button type="button" class="btn btn-success"
							(click)="submitForm(form)" 
							[disabled]="form.invalid || !valido">{{editing ? "Save" :
							"Create"}}</button>

						<!-- <ng-content select="[card-footer]"></ng-content> -->
						<div *ngIf="editing" class="btn-group float-left">
							<button class="btn btn-warning"
								(click)="getObjectById(this.model.getPreviousId(this.object.id))">
								Previous</button>
							<button class="btn btn-warning"
								(click)="getObjectById(this.model.getNextId(this.object.id))">
								Next</button>
						</div>
						<button type="button" class="btn btn-danger"
							data-dismiss="modal">Cancel</button>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>

