/* .row,
.row base-chart-demo {
  width: 100%
}

.card {
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
  border-radius: 3px;
  background-color: #fff;
  border: 0;
  padding: 0;
  -webkit-animation-duration: 750ms;
  animation-duration: 750ms;
  width: 100%;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  margin: .5rem;
  margin-top: 1.75rem;
  display: inline-block;
}
 */
