<!-- // pruebas hasta aqui -->

<div class="row">
    <div class="col-lg-3 col-md-6 col-sm-6">
        <card-estado color="azul" icono="store" titulo="Cociliaciones prejudiciales Pend." numero="9087"></card-estado>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
        <card-estado color="rojo" icono="account_balance" titulo="Fichas tecnicas prox. audiencia" numero="85"></card-estado>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
        <card-estado color="verde" icono="satellite" titulo="Acciones de repetición" numero="85"></card-estado>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
        <card-estado color="naranja" icono="rate_review" titulo="Acciones de repetición" numero="85"></card-estado>
    </div>
</div>

<!-- <div class="row">
    <div class="col-lg-6 col-md-12 col-sm-12">
        <apoderado-dash></apoderado-dash>
    </div>
    <div class="col-lg-6 col-md-12 col-sm-12">
        <calendario></calendario>
    </div>
</div>

<div class="row">
    <base-chart-demo></base-chart-demo>
</div> -->