<modal-form-generico #md [model]="this.model" titulo="Opción"
	[form]="form" (formSumit)="this.model.loadDataSet()">
<div card-body>
	<form novalidate  [formGroup]="form">
		<div class="form-group ">
			<label class="control-label" for="input">Label<span
				class="required">*</span>
			</label> 
			<input class="form-control " name="label" formControlName="label"
				type="text" [(ngModel)]="md.object.label" />
			<message-validation [form]="form" property="label"></message-validation>
		</div>
		
		<div class="form-group">
			<label>URI<span class="required">*</span></label> <input
				class="form-control " name="uri" type="text" formControlName="uri"
				[(ngModel)]="md.object.uri" />
				<ul class="text-danger list-unstyled"
				*ngIf="( form.controls['uri'].dirty) && form.controls['uri'].invalid">
				<message-validation [form]="form" property="uri"></message-validation>					
			</ul>
		</div>

		<div class="form-group">
			<label>Estado<span class="required">*</span></label> <select
				class="form-control  custom-select" name="estado" formControlName="estado"
				[(ngModel)]="md.object.estado" required>
				<option value="ACT">Activo</option>
				<option value="INA">Inactivo</option>
			</select>
			<message-validation [form]="form" property="estado"></message-validation>
		</div>
 	</form>
</div>
</modal-form-generico>