{{this.model.getObjectById() | json}}
<tabla-generica #tb [model]="this.model" [columnas]="this.columnas" titulo="Menus">
  <ng-template let-item let-i="index">
    <tr>
      <th scope="row" style="vertical-align: middle">{{i + 1 + ((tb.selectedPage - 1) * tb.itemsPerPage)}}</th>
      <td style="vertical-align: middle">{{item.label}}</td>
      <td style="vertical-align: middle">{{item.descripcion}}</td>
      <td style="vertical-align: middle">{{item.estado}}</td>
      <td class="text-center">
        <i class="material-icons verde" aria-hidden="true " data-placement="top " title="Editar" data-toggle="modal" data-target="#modalForm"
          (click)="tb.editItem(item.id)">edit</i>
        <i class="material-icons rojo" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Inactivar" 
        	*ngIf="item.estado=='ACT'"	(click)="tb.cambiarEstado(item)">delete_forever</i>
        <i class="material-icons azul" aria-hidden="true " data-toggle="tooltip " data-placement="top" title="Activar" 
        	*ngIf="item.estado=='INA'" (click)="tb.cambiarEstado(item)">open_in_new</i>
      </td>
    </tr>
  </ng-template>
</tabla-generica>


<menu-modal-form></menu-modal-form>
