{{md.object.convocantes && !readOnly}}
<modal-form-generico #md [model]="this.model" titulo="Conciliación"
	(stateUpdate)="actualizarOpciones($event)" [form]="form" tamanio="" [readOnly]="readOnly"
	validacion="{{md.object.convocantes}}" (formSumit)="this.model.loadDataSet()">
<div card-body>
	<form novalidate [formGroup]="form">
		<div class="form-row">
			<div class="col">
				<div class="form-group ">
					<label class="control-label" for="input">No Radicado<span
						class="required">*</span>
					</label> <input class="form-control form-control-sm"
						name="numeroRadicacionIterno" type="number"
						[(ngModel)]="md.object.numeroRadicacionIterno"
						[readOnly]="(form.controls['numeroRadicacionIterno'].readOnly || readOnly)"
						formControlName="numeroRadicacionIterno" />
					<message-validation [form]="form" property="numeroRadicacionIterno"></message-validation>
				</div>
			</div>
		</div>
		<div class="form-row">
			<div class="col">
				<div class="form-group">
					<label class="control-label" for="input">Fecha Radicación<span
						class="required">*</span>
					</label>
					<div class="input-group">
						<input type="text" class="form-control form-control-sm"
							placeholder="Select a date" aria-label="Select a date"
							aria-describedby="basic-addon2" ngx-mydatepicker
							name="fechaRadicacionInterna"
							formControlName="fechaRadicacionInterna"
							[(ngModel)]="fechaRadicacionInterna"
							[options]="fechaRadicacionInternaOptions"
							#dpfechaRadicacionInterna="ngx-mydatepicker"
							(dateChanged)="onfechaRadicacionInternaChanged($event)"
							[readOnly]="(form.controls['fechaRadicacionInterna'].readOnly || readOnly)">
						<div class="input-group-append" *ngIf="!(form.controls['fechaRadicacionInterna'].readOnly || readOnly)">
							<button class="btn btn-danger" type="button"
								(click)="dpfechaRadicacionInterna.clearDate()">
								<i class="material-icons" aria-hidden="true"
									data-toggle="tooltip" data-placement="top" title="Borrar Fecha">close</i>
							</button>
							<button class="btn btn-info" type="button"
								(click)="dpfechaRadicacionInterna.toggleCalendar()">
								<i class="material-icons" aria-hidden="true"
									data-toggle="tooltip" data-placement="top"
									title="Seleccionar Fecha">date_range</i>
							</button>
						</div>
					</div>
					<message-validation [form]="form" property="fechaRadicacionInterna"></message-validation>
				</div>
			</div>
			<div class="col">
				<div class="form-group">
					<label class="control-label" for="input">Fecha
						Notificación<span class="required">*</span>
					</label>
					<div class="input-group">
						<input type="text" class="form-control form-control-sm"
							placeholder="Select a date" aria-label="Select a date"
							aria-describedby="basic-addon2" ngx-mydatepicker
							name="fechaNotificacion" formControlName="fechaNotificacion"
							[(ngModel)]="fechaNotificacion"
							[options]="fechaNotificacionOptions" #dp="ngx-mydatepicker"
							(dateChanged)="onfechaNotificacionChanged($event)"
							[readOnly]="(form.controls['fechaNotificacion'].readOnly || readOnly)">
						<div class="input-group-append" *ngIf="!(form.controls['fechaNotificacion'].readOnly || readOnly)">
							<button class="btn btn-danger" type="button"
								(click)="dp.clearDate()">
								<i class="material-icons" aria-hidden="true"
									data-toggle="tooltip" data-placement="top" title="Borrar Fecha">close</i>
							</button>
							<button class="btn btn-info" type="button"
								(click)="dp.toggleCalendar()">
								<i class="material-icons" aria-hidden="true"
									data-toggle="tooltip" data-placement="top"
									title="Seleccionar Fecha">date_range</i>
							</button>
						</div>
					</div>
					<message-validation [form]="form" property="fechaNotificacion"></message-validation>
				</div>
			</div>
		</div>
		<div class="form-group" *ngIf="md.object.apoderado">
			<label>Responsable<span class="required">*</span></label> <select
				class="form-control  custom-select form-control-sm" name="apoderado"
				[(ngModel)]="md.object.apoderado.id" formControlName="apoderado">
				<option [disabled]="(form.controls['apoderado'].readOnly || readOnly)" 
					*ngFor="let o of this.apoderadoModel.getDataSet()"
					value="{{o.id}}">{{o.nombreCompleto}}</option>
			</select>
			<message-validation [form]="form" property="apoderado"></message-validation>
		</div>

		<div class="form-group" *ngIf="md.object.convocantes">
			<label>Convocantes<span class="required">*</span></label>
			<p *ngIf="md.object.convocantes.length == 0">Seleccione un
				convocante y oprima Add</p>
			<ul class="list-group">
				<li *ngFor="let o of md.object.convocantes; let i=index; "
					class="list-group-item d-flex justify-content-between align-items-center">{{o.nombreCompleto}}<i
					class="material-icons rojo" aria-hidden="true"
					data-toggle="tooltip" data-placement="top"
					*ngIf="!(form.controls['convocantes'].readOnly || readOnly)"
					title="Eliminar Convocante" (click)="deleteConvocante(o.id)">close</i>
				</li>
			</ul>

			<div class="btn-group" *ngIf="!(form.controls['convocantes'].readOnly || readOnly)">
				<button type="button"
					class="btn btn-light dropdown-toggle dropdown-toggle-split"
					data-toggle="dropdown"
					aria-haspopup="true" aria-expanded="false"
					(click)="this.filtro = ''">
					{{(this.convocanteSeleted)?this.convocanteSeleted.nombreCompleto:'seleccione
					un convocante '}}<span class="sr-only">Toggle Dropright</span>
				</button>
				<button type="button" (click)="addConvocante()"
					[disabled]="!this.convocanteSeleted" class="btn btn-success ">
					Incluir</button>
				<div class="dropdown-menu scrollable-menu">

					<a class="dropdown-item" *ngFor="let o of filtrar()"
						(click)="this.convocanteSeleted = o">{{o.nombreCompleto}}</a>

					<div class="dropdown-divider"></div>

					<form class="px-3">
						<div class="form-group">
							<input type="text" placeholder="Buscar..." class="form-control"
								[(ngModel)]="filtro" [ngModelOptions]="{standalone: true}">
						</div>
					</form>


				</div>
			</div>
		</div>

		<div class="form-group " *ngIf="md.object.estado">
			<label class="control-label" for="input">Estado<span
				class="required">*</span>
			</label> <input class="form-control form-control-sm" name="estado"
				type="text" [(ngModel)]="md.object.estado.nombre"
				formControlName="estado"
				[readOnly]="(form.controls['estado'].readOnly || readOnly)" />
			<message-validation [form]="form" property="estado"></message-validation>
		</div>






	</form>
</div>
</modal-form-generico>