<tabla-generica #tb [model]="this.model" [columnas]="this.columnas" titulo="Conciliaciones Prejudiciales">
  <ng-template let-item let-i="index">
    <tr>
      <th scope="row" style="vertical-align: middle">{{i + 1 + ((tb.selectedPage - 1) * tb.itemsPerPage)}}</th>
      <td style="vertical-align: middle; text-align: right">{{item.numeroRadicacionIterno}}</td>
      <td style="vertical-align: middle; text-align: center">{{item.fechaRadicacionInterna | date:'yyyy-MM-dd'}}</td>
      <td style="vertical-align: middle">
      	<div class="convocantes" data-toggle="tooltip" title="{{mostrarConvocantes(item.convocantes)}}" [innerHtml]="item.convocantes[0].nombreCompleto + ' ' + ((item.convocantes.length > 1)? 'Y OTROS':'')"></div>
      </td>
      <td style="vertical-align: middle">{{item.apoderado.nombreCompleto}}</td> 
      <td style="vertical-align: middle">{{item.estado.nombre}}</td>
      <td class="text-center">
        <i class="material-icons verde" aria-hidden="true " data-placement="top " title="Editar" data-toggle="modal" data-target="#modalForm"
          (click)="tb.editItem(item.id)">edit</i>
        <i class="material-icons rojo" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Inactivar" 
        	*ngIf="item.estado.id!='CIA'"	(click)="tb.cambiarEstado(item)">delete_forever</i>
        <i class="material-icons azul" aria-hidden="true " data-toggle="tooltip " data-placement="top" title="Activar" 
        	*ngIf="item.estado=='CIA'" (click)="tb.cambiarEstado(item)">open_in_new</i>
      </td>
    </tr>
  </ng-template>
</tabla-generica>
<radicacionConciliacion-modal-form></radicacionConciliacion-modal-form>

