:host {
  width: 100%;
}

.card {
  text-align: center;
}

.card-header {
  float: left;
}

.icon-title {
  font-size: 36px;
  line-height: 56px;
  width: 56px;
  height: 56px;
  color: #fff;
}

.card-content {
  padding: 0.9375rem 1.25rem;
  text-align: right;
}

.card-title {
  font-size: .9375rem;
  font-weight: 300;
  color: #999999;
}

.card-num {
  color: #242424;
  font-weight: 200;
  font-size: 2rem;
  margin: 1rem 0;
}
